*{
    font-family: 'Open Sans', sans-serif;	
    margin:0;
    padding: 0;
}

.thumbnail img {
    max-height: 130px;
}

.thumbnail .description {
    color: gray;
}

.price {
    font-weight: bold;
    font-size: 27px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #3d5163;
    /*background-color: #02539a;*/
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -15px;
    color:#02539a;
    font-weight: bold;
}


.navbar-default .navbar-nav>li>a {
    color: #000;
}

.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}